@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.maxwidth {
  max-width: 1440px;
}

svg {
  width: 1rem;
  height: 1rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/greenhouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  align-content: center;
  grid-column-gap: 1rem;
  padding: 1rem;
}

.heading-1,
.heading-2,
.heading-3 {
  width: 100%;
  grid-column: 1 / -1;
  font-weight: bold;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 2rem;
}
.heading-3 {
  font-size: 1.4rem;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 80%;
  }
}
